[Desktop Entry]
Version=1.0
Name=Zuzcoin Core
Comment=Connect to the Zuzcoin P2P Network
Comment[de]=Verbinde mit dem Zuzcoin peer-to-peer Netzwerk
Comment[fr]=Zuzcoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Zuzcoin, eşten eşe kriptografik sanal para birimi
Exec=zuzcoin-qt %u
Terminal=false
Type=Application
Icon=zuzcoin128
MimeType=x-scheme-handler/zuzcoin;
Categories=Office;Finance;
StartupWMClass=Zuzcoin-qt
