# It is not recommended to modify this file in-place, because it will
# be overwritten during package upgrades. If you want to add further
# options or overwrite existing ones then use
# $ systemctl edit zuzcoind.service
# See "man systemd.service" for details.

# Note that almost all daemon options could be specified in
# /etc/zuzcoin/zuzcoin.conf

[Unit]
Description=Zuzcoin daemon
After=network.target

[Service]
ExecStart=/usr/bin/zuzcoind -daemon -conf=/etc/zuzcoin/zuzcoin.conf -pid=/run/zuzcoind/zuzcoind.pid
# Creates /run/zuzcoind owned by zuzcoin
RuntimeDirectory=zuzcoind
User=zuzcoin
Type=forking
PIDFile=/run/zuzcoind/zuzcoind.pid
Restart=on-failure
PrivateTmp=true

[Install]
WantedBy=multi-user.target
